{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block corpo %}
<!-- Menu  -->
    <nav class="navbar navbar-inverse" id="menu">
        <div class="container-fluid">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="index.html"><i class="glyphicon glyphicon-lamp"></i> agressHome</a>
            </div>

            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2" aria-expanded="false">

                <ul class="nav navbar-nav">

<!--
                    <li>
                        <a href="comodos.html?id=1">Sala</a>
                    </li>
                    <li>
                        <a href="#">Cozinha</a>
                    </li>
                    <li>
                        <a href="#">Quarto</a>
                    </li>

-->
                </ul>

            </div>

        </div>

    </nav>

    <div class="container" id="conteudo">

        <div class="row">


            <div class="col-xs-12">

                <div class="jumbotron">
                    <h3>Projeto de Eletrônica Digital</h3>
                    <p><strong>Objetivo: </strong> Curabitur pharetra elit vel maximus euismod. Proin at augue sed lorem gravida pharetra. Sed condimentum, nisl sed lacinia volutpat, leo urna scelerisque felis, vel semper risus lectus ut leo.</p>
                    <p><strong>Integrantes: </strong></p>
                    <p>- Judison {{ Judison }}Godinho</p>
                    <p>-{{ sandro }}Sandro</p>
                    <p>- Pedro Paulo</p>
                    <p><a class="btn btn-info btn-block btn-lg" id="mais-info" href="info.html">Mais Informações</a></p>
                </div>

            </div>

        </div>

    </div>
{% endblock %}